<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sam.cardflipper">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CardFlipper">
        <activity android:name=".Main.GameOver"></activity>
        <activity android:name=".Main.Game" />
        <activity
            android:name=".Main.ActivityBar"
            android:label="@string/appName"
            android:theme="@style/Theme.CardFlipper.NoActionBar" />
        <activity android:name=".Main.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>